*{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
header{
        background-image: url(/assets/photo/kaiji-ecard-background.png);
        background-size: cover;
    }
h3{
        text-align: center;
        margin-left: -64%;
        color: red;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    /* setando variaveis  */
:root{
    --largura:200px;
    --bordar: 5px;
    --cor:red;
    }
    .Fieldset-rool{
        border: none;
    }
.background-cards{
    background-color: black;
    border: 2px ;
}
 .cartas{
        margin-left: 40%;
    }
    .background
.title-game{
        text-align: center;
        padding: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: red;
        background-color: black, ;
    }
.regras-game{
        padding: 2px;
        border-radius: 2px;
        width: 300px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--cor);
        background-color: black;
    }
.regruinhas{
        margin-left: 40%; 
    }
.list-game li{
        margin: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--cor);
        width: 300px;
        text-align: center;
        background-color: black;
        list-style: none;
}
.image-pedra{
        margin-left: 30%;
        width: 200px;
}
.image-papel{
    margin-left: 5%;
    width: 200px;
}
.image-tesoura{
    margin-left: 5%;
    width: 210px;
}
.cards{
        width: 200px;
        border-radius: 5px;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        background-color:  black;
        margin-left:-200px;
}
.cards:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.title-player{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: red;
    animation: letra-aparecendo both 10s  infinite;
}
/* Animacoes de texto */
@keyframes letra-aparecendo {
    0%{
        text-align: center;
    }
    50%{
        padding: 1px;
        color: white;
    }
    100%{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: black;
        color: red;
    }
}
