    *{
        padding: 0%;
        margin: 0%;
        box-sizing: border-box;
    }
    header{
        background-image: url(/assents/kaiji-ecard-background.png);
        background-size: cover;
    }
    h3{
        text-align: center;
        margin-left: -64%;
        color: red;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    /* uma variavel guardando valores para reutilizar */
    :root{
    --largura:200px;
    --bordar: 5px;
    --cor:red;
    }
    .cartas{
        margin-left: 40%;
    }
    .title-game{
        text-align: center;
        padding: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: red;
        background-color: black;
    }
    .regras-game{
        padding: 2px;
        border-radius: 2px;
        width: 300px;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--cor);
        background-color: black;
    }
    .regruinhas{
        margin-left: 40%; 
    }
    .list-game li{
        margin: 5px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: var(--cor);
        width: 300px;
        text-align: center;
        background-color: black;
        list-style: none;
}
.image-pedra{
        margin-left: 20%;
        width: 200px;
}
.image-papel{
    margin-left: 5%;
    width: 200px;
}
.image-tesoura{
    margin-left: 5%;
    width: 210px;
}
.button-pedra{
        width: 200px;
        border-radius: 5px;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        background-color:  black;
        margin-left:-200px;
}
.button-papel{
        width: 200px;
        border-radius: 5px;
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        padding: 5px;
        background-color:  black;
        margin-left:-200px;
}
.button-tesoura{
    width: 200px;
    border-radius: 5px;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    background-color:  black;
    margin-left:-200px;
}
button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
.title-jogador{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: red;
    animation: letra-aparecendo both 2s  infinite;
}
@keyframes letra-aparecendo {
    50%{
        padding: 1px;
        color: white;
        text-align: center;
    }
    100%{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: black;
        color: red;
    }
}