*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background-image: url(/assents/Kaiji-background.jpg);
    background-position: 0.1px;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}   
body{
    background-image: url(/assents/kaiji-ecard-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.person-name{
    width:100px;
    margin: 4px;
    color:red;
    font-size:25px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px ;
    margin-left: 19%;
    padding: 5px;
    background-color: black;
}
.sobre-kaij{
    width: 50%;
    margin: 4px;
    border: 2px solid black;
    border-radius: 10px ;
    margin-left: 28%;
    padding: 2px;
    font-style: italic;
    opacity: 0.9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}
.text-kaiji-about{
    color: red;
    text-align: justify;
    word-spacing: 2px;
    text-shadow: black 4px 3px 3px;
    padding: 30px;
    text-decoration: wavy;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.opening-text{
    background-color: black;
    opacity: 0.9;
    padding: 6px;
    width: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3px;
    color: red;
    margin-left: 90px;
    font-size: 25px;
}
.Sinopse{
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    opacity: 0.9;
    width: 110px;
    border-radius: 3px;
    color: red;
    margin: 30px;
    margin-left: 47%;
    font-size: 25px;
    color:red; 
}
.video-op{
    width: 500px;
}
.video-bord{
    width: 80px;
    border-radius: 5px;
    background-color: rgb(212, 21, 21); 
    margin-left: -100px;
    border: 4px solid rgb(212, 21, 21);
}
.title-main{
    color: rgb(247, 247, 247);
    margin-left: 45%;
}
.bord-img{
    border: none;
    width: 10px;
    border: none;
    margin-left: 40%;
}
.final-inf{
  background-color: black;
  padding: 40px;
  color: white;
  text-align: center;

}
.watch-style{
    list-style-type: none;
}
.Kaiji-DD{
    border-radius: 2px;
    opacity: 0.9;
    background-color: black;
    border: 4px solid black;
}
  /* }
.img-kaiji{
    padding: 290px;
    width: 200px;
    margin-left: 5%;
    animation: img-kaiji infinite 5s ;
} */
/* @keyframes img-kaiji {
    0%{
        background-image: url(/assents/Frente-Kaij-removebg-preview.png);
        background-repeat: no-repeat;
    }
    50%{
        background-repeat: no-repeat;
        background-image: url(/assents/Costa-Kaij-removebg-preview.png);
    }
    80%{
        background-repeat: no-repeat;
        background-image: url(/assents/Frente-Kaij-removebg-preview.png);
    }
    90%{
        background-repeat: no-repeat;
        background-image: url(/assents/Costa-Kaij-removebg-preview.png);
    }
    100%{
        background-repeat: no-repeat;
        background-image: url(/assents/Frente-Kaij-removebg-preview.png)
    }
} */
.menu {
    list-style: none; 
    display: flex; 
    justify-content: center; 
}
.menu-item {
    margin: 0 20px;
}
.menu-link {
    text-decoration: none; 
    color: white;
    font-size: 20px; 
    padding: 10px 20px; 
    display: block;
    transition: background-color 0.3s; 
}
.menu-link:hover {
    color: red;
    border-radius: 4px;
    background-color: rgb(196, 14, 14);
}